@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Neucha&display=swap");

// fonts

$main_font: Neucha, cursive;
$title_font: Comforter, cursive;

// font-size
$big_font: 62px;
$middle_font: 32px;
$small_font: 20px;
$extrasmall_font: 12px;

// colors
$main_black: #2a2a2a;
$main_white: #fffff8;
$accent_color: #ebba34;
$dark_accent: #9c2203;
